<!DOCTYPE html>
<html>
    <head>
        <title>Previous Job Experience</title>
    </head>

    <body>
        <h1>Resume and Work History Builder</h1>
        <form action='/view-job-history'>
            <button type='submit'>View Current Job History</button>
        </form>
    </body>

</html>
