<!DOCTYPE html>
<html>
    <head>
        <title>Job History</title>
    </head>

    <body>
        <h1>Work History</h1>
        <form action='/'>
            <button type='submit'>Home</button>
        </form>
    </body>

</html>
